In [34]:
import numpy as np
import pandas as pd

In [35]:
sales = pd.read_csv('C:\softwares\python data analysis\BusinessSales.csv')

In [36]:
sales.head()

,division,level of education,training level,work experience,salary,sales
0,peripherals,associate's degree,1,2,66790,193711
1,office supplies,high school,0,4,63143,200167
2,printers,associate's degree,0,6,86480,274258
3,computer software,associate's degree,2,5,103573,358491
4,computer hardware,some college,1,2,72166,216003

In [37]:
sales.describe()

       training level  work experience         salary          sales
count     1000.000000      1000.000000    1000.000000    1000.000000
mean         1.229000         6.079000   89862.131000  334793.255000
std          0.949453         2.913975   17672.253037  109864.104536
min          0.000000         0.000000   41539.000000   52114.000000
25%          0.000000         4.000000   77426.750000  256881.000000
50%          1.000000         6.000000   89070.000000  331629.500000
75%          2.000000         8.000000  101766.750000  408458.500000
max          3.000000        16.000000  158306.000000  772906.000000

In [38]:
sales.rename(columns = {'level of education':'edu'},inplace=True)

In [39]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   division         1000 non-null   object
 1   edu              1000 non-null   object
 2   training level   1000 non-null   int64
 3   work experience  1000 non-null   int64
 4   salary           1000 non-null   int64
 5   sales            1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

In [40]:
sales['division'].value_counts()

office supplies      262
peripherals          256
printers             239
computer hardware    163
computer software     80
Name: division, dtype: int64

In [41]:
sales['edu'].value_counts()

associate's degree    429
some college          374
bachelor's degree      99
high school            94
master's degree         4
Name: edu, dtype: int64

In [42]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
sales['division']=le.fit_transform(sales.division.values)
sales['edu']=le.fit_transform(sales.edu.values)
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   division         1000 non-null   int32
 1   edu              1000 non-null   int32
 2   training level   1000 non-null   int64
 3   work experience  1000 non-null   int64
 4   salary           1000 non-null   int64
 5   sales            1000 non-null   int64
dtypes: int32(2), int64(4)
memory usage: 39.2 KB

In [44]:
from sklearn.model_selection import train_test_split
X = sales.drop(columns='sales', axis=1)
Y = sales['sales']

In [45]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=2729)

In [46]:
print(X_train.shape, X_test.shape,Y_train.shape,Y_test.shape)

(670, 5) (330, 5) (670,) (330,)

In [47]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [48]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LinearRegression()

In [49]:
y_pred=model.predict(X_test)
y_pred

array([356491.60351734, 316858.95139789, 470838.92530882, 302892.63331838,
       405822.81232167, 277410.98498696, 392443.92312063, 307078.18561485,
       155475.34017606, 181549.13884961, 220786.14614249, 383878.05825653,
       440482.49739187, 349668.94584834, 378107.62645563, 219224.95310312,
        82395.97099293, 348367.37191298, 386617.5716843 , 242030.86405708,
       242359.95833139, 369929.47081212, 205118.40128961, 335511.99971047,
       238019.08308534, 329186.31245604, 308334.55889761, 282703.33726367,
       262238.4870229 , 182302.6282061 , 144468.99126978, 242504.96118381,
       403483.05760603, 368807.25128574, 384460.93540721, 393445.36051529,
       374559.65214277, 328947.16161624, 319266.12412686, 390442.70303349,
       355436.68172391, 361558.11097589, 236147.89552856, 408486.6127822 ,
       200167.76842543, 475195.22019534, 266556.05459493, 357204.67025728,
       163874.25324867, 433357.88174305, 366589.08701739, 344558.86465828,
       428270.5609952 , 364176.36282029, 314845.50188517, 370182.66484726,
       237632.03550826, 403496.47966341, 110590.55161363, 265810.55056834,
       308776.96610703,  89658.75698479, 285212.7426925 , 421538.2079188 ,
       531143.73956733, 458652.62710368, 312168.37529127, 389705.71490181,
       299953.04008164, 125488.10623707, 308890.90742621, 351511.94495075,
       535899.14517925, 366665.3397962 ,  93868.90224372, 439184.0603971 ,
       461498.55576633, 425047.39913337, 197191.98606002, 550420.19316942,
        75283.50350946, 349127.5004616 , 450476.82892335, 444832.05915161,
       388963.23912049, 397319.91329983, 297024.71297974, 326298.74444348,
       317017.85040828, 250418.02232483, 433020.8475358 , 298414.97893509,
       335235.40198297, 225304.52741273, 309376.39095361, 224939.88437397,
       469021.13337602, 427410.36223474, 385623.40781429, 284071.01786374,
       389007.08403708, 425640.59448616, 232582.07366192, 282671.97025926,
       335852.70322148, 372394.1194759 , 306080.89214468, 217876.76640903,
       484500.26003552, 393510.99386801, 212955.33114661, 299509.95604479,
       299823.34402408, 321362.16081998, 285960.935304  , 284224.11898855,
       468817.9805393 , 506806.43350773, 158514.06800355, 360261.4115869 ,
       341391.0220999 , 184791.6495694 , 352341.84163799, 428101.4058005 ,
       388349.39574611, 333973.00123902, 322386.84494244, 384090.87128455,
       755967.61737678, 242811.90475746, 424553.22609335, 351007.89680758,
       103223.03230319, 297036.42229331, 416100.36738701, 316035.37624661,
       450712.87502495, 347839.55546077, 222015.34488303, 332500.92767501,
       229116.40653473, 402127.71133935, 303385.34876099, 349963.46295211,
       413270.13966829, 461069.15565922, 270615.65088437, 604182.18646254,
       355419.14042988, 403735.41439313, 259648.73694752, 344599.04699706,
       246307.88278117, 370135.33512088, 318772.61692749, 289387.91672614,
       547628.62567932, 342347.20394108, 255937.95997756, 542095.99858045,
       483403.40879615, 345000.30838828, 466973.77609996, 338685.62866368,
       527379.37753797, 222565.17241874, 387431.08524909, 467163.14235696,
       242050.71118333, 341976.0633965 , 369605.05639203, 276938.91221486,
       257882.71777358, 533059.08365153, 444974.19219254, 457868.5738016 ,
       657053.82924127, 410824.87016984, 405702.21971969, 212885.03538142,
       243475.90932765, 510805.60608872, 275282.96886678, 225287.36203745,
       125670.41031472, 428259.59369991, 481413.42202697, 359210.17683814,
       148214.24135724, 295682.21953442, 227784.54192255, 228897.83732491,
       367199.00169442, 444680.57554084, 289838.03945527, 299877.65002731,
       325877.19827247, 449908.7543337 , 443446.95734923, 496132.66982522,
       441882.46824122, 409310.50816276, 183482.73068201, 297171.27429503,
       232637.58033164, 350623.61351972, 311198.52238598, 221299.84082275,
       164478.1941646 , 453289.931407  , 323927.66097117, 355373.19576963,
       367790.09403617, 354874.88110978, 263632.25107694, 435279.78228991,
       394000.22795941, 249135.45679846, 227516.35260905, 380193.41438467,
       313544.37174303, 415210.88640284, 322506.40282627, 292551.93066404,
       312630.05425126, 225703.6300091 , 319628.93742334, 469204.9132814 ,
       187936.88923642, 387195.55537766, 582982.88946348, 151340.06648349,
       274747.19592282, 365655.48033331, 361856.49347864, 162984.8166519 ,
       420312.81432531, 306154.0879344 , 493433.68245258, 451772.42919195,
       268412.47040364, 332368.10081652, 402690.17747884, 313853.25358014,
       170773.42021777, 287871.09848774, 257485.42668916, 372965.65797502,
       216043.46831878, 433119.68298627, 294064.82555616, 399074.98192595,
       350353.33873124, 265437.06405131, 308607.2521898 , 387360.91770465,
       217728.94962325, 394844.03220102, 410290.89061545, 302700.2388161 ,
       237039.64321429, 433379.52751561, 226782.75051903, 403825.24567374,
       406345.64870524, 481007.49217795, 242951.8381827 , 341411.93415734,
       261068.03722374, 426764.38109386, 306424.26532963, 364478.2476689 ,
       269244.62111548, 385037.98990468, 303676.83166847, 418599.00834173,
       306189.29555562, 336255.93387779, 383759.98887741, 237180.13069162,
       257351.90546716, 367815.59191628, 419393.43275743, 375848.17468276,
       425726.74150005, 256585.01140069, 378845.37472796, 292193.06876337,
       389091.98914037, 412655.15288045, 324978.30241055, 386862.75948922,
       194431.04355605, 352948.86985038, 352275.85515933, 370160.81824288,
       131624.42723451, 258601.93026829, 459625.25389644, 437863.55118396,
       275581.43815496, 431688.05372775, 322795.69225773, 426546.70491588,
       416465.30648735, 236316.29214617, 543528.42485247, 334547.56263234,
       270504.39122183, 164440.86410124, 281014.1248263 , 244243.77093206,
       390407.73785353, 287465.34451425, 283451.94067739, 271680.09099414,
       185999.13456857, 519314.15485486, 506828.01497238, 238594.40592805,
       130597.41458135, 315228.97676313, 497773.69359925, 572809.51245023,
       434540.74167425,  70160.45218427, 231018.86439694, 216304.23083625,
       245686.47092445, 423458.53612761])

In [50]:
model.score(X_test,Y_test)

0.9412321574935633

In [51]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [52]:
mean_absolute_percentage_error(Y_test,y_pred)

0.06715846921873574